@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <#NameCon id="condition" name="关键字" placeholder="手机号/用户姓名/openid" />
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="createStartTime" name="日期区间" isTime="false"/>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="detailType" name="操作类型" >
                                <option value="">全部</option>
                                <option value="0">充值</option>
                                <option value="1">事故费用支出</option>
                            </#SelectCon>
                        </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="BizYckCzmx.search()"/>
                            </div>
                        </div>
                        <#table id="BizYckCzmxTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/bizYckCzmx/bizYckCzmx.js"></script>
<script>
    laydate.render({
        elem: '#createStartTime',
        range: '~'
    });
</script>
@}
