<% layout('/layouts/default.html', {title: '洗车订单表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('洗车订单表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('app:appCleanIndet:edit')){ %>
					<a href="${ctx}/app/appCleanIndet/form" class="btn btn-default btnTool" title="${text('新增洗车订单表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${appCleanIndet}" action="${ctx}/app/appCleanIndet/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('洗车订单编号')}：</label>
					<div class="control-inline">
						<#form:input path="cleanIndentNumber" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('b端商户id')}：</label>
					<div class="control-inline">
						<#form:input path="userBId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户id')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('车型')}：</label>
					<div class="control-inline">
						<#form:input path="carType" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('清洗类型')}：</label>
					<div class="control-inline">
						<#form:input path="cleanType" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('原价')}：</label>
					<div class="control-inline">
						<#form:input path="originalPrice" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('支付金额，也就是优惠价格')}：</label>
					<div class="control-inline">
						<#form:input path="amount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('支付订单编号')}：</label>
					<div class="control-inline">
						<#form:input path="merchantsPayNumber" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('支付状态')}：</label>
					<div class="control-inline">
						<#form:input path="payState" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="createTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('修改时间')}：</label>
					<div class="control-inline">
						<#form:input path="updateTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("洗车订单编号")}', name:'cleanIndentNumber', index:'a.clean_indent_number', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/app/appCleanIndet/form?id='+row.id+'" class="btnList" data-title="${text("编辑洗车订单表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("b端商户id")}', name:'userBId', index:'a.user_b_id', width:150, align:"left"},
		{header:'${text("用户id")}', name:'userId', index:'a.user_id', width:150, align:"left"},
		{header:'${text("车型")}', name:'carType', index:'a.car_type', width:150, align:"center"},
		{header:'${text("清洗类型")}', name:'cleanType', index:'a.clean_type', width:150, align:"center"},
		{header:'${text("原价")}', name:'originalPrice', index:'a.original_price', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("支付金额，也就是优惠价格")}', name:'amount', index:'a.amount', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("支付订单编号")}', name:'merchantsPayNumber', index:'a.merchants_pay_number', width:150, align:"left"},
		{header:'${text("支付状态")}', name:'payState', index:'a.pay_state', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text("修改时间")}', name:'updateTime', index:'a.update_time', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('app:appCleanIndet:edit')){ %>
				actions.push('<a href="${ctx}/app/appCleanIndet/form?id='+row.id+'" class="btnList" title="${text("编辑洗车订单表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/app/appCleanIndet/disable?id='+row.id+'" class="btnList" title="${text("停用洗车订单表")}" data-confirm="${text("确认要停用该洗车订单表吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/app/appCleanIndet/enable?id='+row.id+'" class="btnList" title="${text("启用洗车订单表")}" data-confirm="${text("确认要启用该洗车订单表吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/app/appCleanIndet/delete?id='+row.id+'" class="btnList" title="${text("删除洗车订单表")}" data-confirm="${text("确认要删除该洗车订单表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>