<% layout('/layouts/default.html', {title: '商户评论树表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('商户评论树表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnRefreshTree" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
				<a href="#" class="btn btn-default" id="btnExpandTreeNode" title="${text('展开一级')}"><i class="fa fa-angle-double-down"></i> ${text('展开')}</a>
				<a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="${text('折叠全部')}"><i class="fa fa-angle-double-up"></i> ${text('折叠')}</a>
				<% if(hasPermi('app:appMerchantsCommentsTree:edit')){ %>
					<a href="${ctx}/app/appMerchantsCommentsTree/form" class="btn btn-default btnTool" title="${text('新增商户评论树表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${appMerchantsCommentsTree}" action="${ctx}/app/appMerchantsCommentsTree/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('节点名称')}：</label>
					<div class="control-inline">
						<#form:input path="commentsName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户名称')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商户名称')}：</label>
					<div class="control-inline">
						<#form:input path="merchantsId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('评论状态是否展示')}：</label>
					<div class="control-inline width-120">
						<#form:select path="state" dictType="sys_yes_no" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
        {header:'${text("评论内容")}', name:'content', index:'a.content', width:250, align:"left"},
		{header:'${text("用户名称")}', name:'name', index:'a.name', width:150, align:"center"},
		{header:'${text("商户名称")}', name:'merchantsName', index:'a.merchantsName', width:150, align:"center"},
		{header:'${text("评论状态是否展示")}', name:'state', index:'a.state', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("未知")}', true);
		}},
		{header:'${text("服务分")}', name:'serviceScore', index:'a.service_score', width:150, align:"center"},
		{header:'${text("效率分")}', name:'efficiensyScore', index:'a.efficiensy_score', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('app:appMerchantsCommentsTree:edit')){ %>
				actions.push('<a href="${ctx}/app/appMerchantsCommentsTree/form?commentsCode='+row.commentsCode+'" class="btnList" title="${text("编辑商户评论树表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 1,	// 默认展开的层次
	expandNodeClearPostData: 'commentsName,userId,merchantsId,state,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>