<% layout('/layouts/default.html', {title: '用户扣费记录表查询', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('用户扣费记录表查询')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${appPushBill}" action="${ctx}/app/appPushBill/listData?id=${appPushBill.id}" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("事故视频")}', name:'video', index:'a.video', width:150, align:"left",frozen:true, formatter: function(val, obj, row, act){
                return '<a onclick="palyvideo(\''+row.video+'\')">查看视频</a>'
            }},
		{header:'${text("商户名称")}', name:'merchantsName', index:'a.merchantsName', width:150, align:"center"},
		{header:'${text("推送扣费")}', name:'deduction', index:'a.deduction', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, '0.00'); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("推送时间")}', name:'createTime', index:'a.create_time', width:150, align:"center"}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
function palyvideo(video) {
    layer.open({
        type: 1,
        title: false,
        area: ['630px', '360px'],
        shade: 0.8,
        closeBtn: 0,
        shadeClose: true,
        content: '<video width="630px" height="355px" controls><source src="'+video+'" type="video/mp4"></video>'
    });
    layer.msg('点击任意处关闭');
}

</script>