<% layout('/layouts/default.html', {title: 'web派单记录表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('web派单记录表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('app:appSendOutSheet:edit')){ %>
					<a href="#" onclick="popupWindow()"  title="${text('派单')}"><i class="fa fa-plus"></i> ${text('派单')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${appSendOutSheet}" action="${ctx}/app/appSendOutSheet/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('商户id')}：</label>
					<div class="control-inline">
						<#form:input path="userBId" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('地址')}：</label>
					<div class="control-inline">
						<#form:input path="adress" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("创建时间")}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text("地址")}', name:'adress', index:'a.adress', width:150, align:"left"},
		{header:'${text("备注")}', name:'remark', index:'a.remark', width:150, align:"left"},
		{header:'${text("理赔老师")}', name:'name', index:'b.merchants_name', width:150, align:"left"},
		{header:'${text("状态")}', name:'state', index:'a.state', width:150, align:"left"},
		{header:'${text("签到时间")}', name:'checkTime', index:'a.check_time', width:150, align:"center"},
		{header:'${text("反馈音频")}', name:'backVoice', index:'a.back_voice', width:150, align:"left"},
		{header:'${text("音频")}', name:'voice', index:'a.voice', width:150, align:"left"},

		{header:'${text("信息费用")}', name:'infromationCosts', index:'a.infromation_costs', width:100, align:"center"},
		{header:'${text("信息渠道")}', name:'accessInformation', index:'a.access_information', width:100, align:"center"},
		{header:'${text("是否成交")}', name:'clinchDeal', index:'a.clinch_deal', width:100, align:"center"},


		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('app:appSendOutSheet:edit')){ %>
				actions.push('<a href="${ctx}/app/appSendOutSheet/form?id='+row.id+'" class="btnList" title="${text("编辑web派单记录表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/app/appSendOutSheet/delete?id='+row.id+'" class="btnList" title="${text("删除web派单记录表")}" data-confirm="${text("确认要删除该web派单记录表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="#" onclick="checkTrack(\''+row.id+'\')" title="${text("查看轨迹")}"><i class="fa icon-location-pin"></i></a>&nbsp;')
				actions.push('<a href="#" onclick="paidan(\''+row.id+'\')" title="${text("派单")}"><i class="fa icon-layers"></i></a>&nbsp;')

			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}

});



function paidan(sendId){
	// 提交地址相关操作
	//获取经纬度
	//("lat"+lat+"----"+"lng"+lng)
	//弹出iframe框
	layer.open({
		type: 2,
		title: '选择理赔老师',
		shadeClose: true,
		shade: 0.8,
		area: ['900px', '90%'],
		content: '${ctx}/app/appSendOutSheet/claimAdjusters?sendId='+sendId+''     //iframe的url

		//            content: '${ctx}/app/appSendOutSheet/claimAdjusters?lat='+lat+'&lng='+lng+'&address='+pid+''     //iframe的url

		//content: '${ctx}/app/forward/test?accId='+accId+'&type='+type+'' //ifram
	});

}


function checkTrack(sid) {
	//弹窗
	layer.open({
		type: 2,
		title: '查看轨迹',
		shadeClose: true,
		shade: 0.8,
		area: ['900px', '90%'],
		content: '${ctx}/app/appSendOutSheet/findTrack?sid='+sid+'',    //iframe的url
		//content: '${ctx}/app/forward/test?accId='+accId+'&type='+type+'' //ifram
	});

}

function popupWindow() {
	layer.open({
		type: 2,
		title: '派单',
		shadeClose: true,
		shade: 0.8,
		area: ['900px', '90%'],
		content: '${ctx}/app/appSendOutSheet/sendSinglePage',    //iframe的url
		//content: '${ctx}/app/forward/test?accId='+accId+'&type='+type+'' //ifram
	});

}




</script>