<% layout('/layouts/default.html', {title: 'plus会员管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('plus会员管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('app:appUserPlus:edit')){ %>
					<a href="${ctx}/app/appUserPlus/form" class="btn btn-default btnTool" title="${text('新增plus会员')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${appUserPlus}" action="${ctx}/app/appUserPlus/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('create_time')}：</label>
					<div class="control-inline">
						<#form:input path="createTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('user_id')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('有效期开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="invalidTimeStart" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('有效期结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="invalidTimeEnd" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('邀请码')}：</label>
					<div class="control-inline">
						<#form:input path="inviteCode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('邀请人id')}：</label>
					<div class="control-inline">
						<#form:input path="parentUserId" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("create_time")}', name:'createTime', index:'a.create_time', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/app/appUserPlus/form?id='+row.id+'" class="btnList" data-title="${text("编辑plus会员")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("user_id")}', name:'userId', index:'a.user_id', width:150, align:"center"},
		{header:'${text("有效期开始时间")}', name:'invalidTimeStart', index:'a.invalid_time_start', width:150, align:"center"},
		{header:'${text("有效期结束时间")}', name:'invalidTimeEnd', index:'a.invalid_time_end', width:150, align:"center"},
		{header:'${text("邀请码")}', name:'inviteCode', index:'a.invite_code', width:150, align:"left"},
		{header:'${text("邀请人id")}', name:'parentUserId', index:'a.parent_user_id', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('app:appUserPlus:edit')){ %>
				actions.push('<a href="${ctx}/app/appUserPlus/form?id='+row.id+'" class="btnList" title="${text("编辑plus会员")}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>