<% layout('/layouts/default.html', {title: '用户金额记录表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('用户金额记录表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('app:appUserAccountRecord:edit')){ %>
					<a href="${ctx}/app/appUserAccountRecord/form" class="btn btn-default btnTool" title="${text('新增用户金额记录表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${appUserAccountRecord}" action="${ctx}/app/appUserAccountRecord/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('金额')}：</label>
					<div class="control-inline">
						<#form:input path="momey" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户id')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('操作类型 1')}：</label>
					<div class="control-inline">
						<#form:input path="type" maxlength="2" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发生时间')}：</label>
					<div class="control-inline">
						<#form:input path="createTime_gte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
						dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false,onpicked:function(){createTime_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="createTime_lte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
						dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('正负')}：</label>
					<div class="control-inline width-120">
						<#form:select path="source" dictType="add_or_sub_money" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('来源')}：</label>
					<div class="control-inline width-120">
						<#form:select path="source" dictType="user_source" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('业务id')}：</label>
					<div class="control-inline">
						<#form:input path="businessId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("金额(元)")}', name:'momey', index:'a.momey', width:150, align:"left", frozen:true},
		{header:'${text("用户id")}', name:'userId', index:'a.user_id', width:150, align:"center"},
		{header:'${text("用户名")}', name:'appUser.name', index:'a.user_id', width:150, align:"center", formatter: function(val, obj, row, act){
				 console.log(row)
				if(row.source == 1){
                    if(row.appUser!= undefined){
                        return row.appUser.name;
                    }
				}else{
				    if(row.appBUser!= undefined){
                        return row.appBUser.name;
                    }
				}
			}},
		{header:'${text("来源")}', name:'source', index:'a.source', width:150, align:"center", formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('user_source')}, val, '${text("未知")}', true);
			}},
		{header:'${text("操作类型")}', name:'type', index:'a.type', width:150, align:"center", formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('user_account_business_type')}, val, '${text("未知")}', true);
			}},
		{header:'${text("发生时间")}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text("正负")}', name:'addFlag', index:'a.add_flag', width:150, align:"center", formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('add_or_sub_money')}, val, '${text("未知")}', true);
			}},
		{header:'${text("业务id")}', name:'businessId', index:'a.business_id', width:150, align:"left"},
		// {header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
		// 	var actions = [];
		// 	<% if(hasPermi('app:appUserAccountRecord:edit')){ %>
		// 		actions.push('<a href="${ctx}/app/appUserAccountRecord/form?id='+row.id+'" class="btnList" title="${text("编辑用户金额记录表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
		// 	<% } %>
		// 	return actions.join('');
		// }}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>