<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="../style/rest.css">
    <link rel="stylesheet" href="../style/register.css">
    <script src="../script/rest.js"></script>
    <script src="../script/jquery.min.js"></script>
</head>
<body>
<div class="register-wrapper">
    <div class="logo-wrapper">
        <div class="logo"></div>
        <p class="desc">让汽车生活更美好</p>
    </div>

    <ul class="category-wrapper">
        <li class="category-item">
            <div class="icon accident"></div>
            <p>事故提报</p>
            <p>5-88元红包秒到</p>
        </li>
        <li class="category-item">
            <div class="icon fix"></div>
            <p>维修推荐</p>
            <p>5-15%的佣金提成</p>
        </li>
        <li class="category-item">
            <div class="icon agent"></div>
            <p>营销代理</p>
            <p>分享汽车市场红利</p>
        </li>
    </ul>

    <div class="register-form">
        <ul class="register-info">
            <li class="info-item">
                <input placeholder="请输入手机号" id="phone">
                <i class="icon"></i>
            </li>
            <li class="info-item">
                <input type="password" placeholder="请输入密码" id="pass">
                <i class="icon"></i>
            </li>
            <li class="info-item">
                <input type="password" placeholder="请再次输入密码" id="pass_tow">
                <i class="icon"></i>
            </li>
            <li class="info-item">
                <input placeholder="请输入验证号" id="yzm">
                <i class="icon"></i>
                <button class="verify-btn reset-button">发送验证码</button>
            </li>
            <li class="info-item">
                <input placeholder="" th:value="${code}" readonly="readonly" id="yqm">
                <i class="icon"></i>
            </li>
        </ul>

        <div class="register">
            <button class="reset-button" onclick="zhuce()">立即注册</button>
            <p class="have-account" onclick="down()">已有账号？直接下载</p>
        </div>
    </div>

    <p class="protocol">
        <span>注册或登录即代表您已经同意</span>
        <a onclick="xieyi()" style="color: black">《车己隐私协议》</a>
    </p>
</div>

<script>

    function zhuce() {
        var phone = $("#phone").val();
        var myreg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
        if (!myreg.test(phone)) {
            alert("请输入正确的手机号")
            return;
        }
        var yzm = $("#yzm").val();

        if (yzm.length != 6) {
            alert("请输入6位验证码")
            return;
        }

        var first_pass = $("#pass").val();
        var second_pass = $("#pass_tow").val();
        var yqm = $("#yqm").val();
        if (first_pass != second_pass) {
            alert("两次输入的密码不同")
            return;
        }

        if (first_pass.length < 8) {
            alert("密码长度必须不少于8位")
            return;
        }

        $.post({
            contentType:"application/json;charset=utf-8",
            data: '{"userName":"'+phone+'","passWord":"'+first_pass+'","smsCode":"'+yzm+'","inviteCode":"'+yqm+'"}',
            url: "/cServer/user/register",
            success: function (result) {
                console.log(result)
                if (result.code == 200) {
                    alert('注册成功，正在为您跳转下载地址')
                    setTimeout("down()", 2000);
                }else if(result.code==403){
                    alert(result.msg+",已为您重置推荐码，请重新点击注册！")
                    $("#yqm").val('')
                }else{
                    alert(result.msg)
                }
            }
        });


    }

    $("#phone").change(function () {
        var phone = $(this).val();
        if (phone.length > 11) {
            $(this).val(phone.substr(0, 11));
        }
    })

    function down() {
        var u = navigator.userAgent;
        isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
        isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        urls = {
            'android':'https://sj.qq.com/myapp/detail.htm?apkName=com.cheji.cjlp',
            'ios':'https://apps.apple.com/cn/app/%E8%BD%A6%E5%B7%B1%E8%BD%A6%E6%9C%8D/id1485670998',
            'other':'https://sj.qq.com/myapp/detail.htm?apkName=com.cheji.cjlp'
        }
        if(isAndroid){
            window.location.href = urls.android
        }else if(isIOS){
            window.location.href = urls.ios
        }else{
            window.location.href = urls.other
        }

    }

    function xieyi() {
        window.location.href = '/cServer/page/agreement'
    }

    let verifyBtn = document.querySelector('.verify-btn')
    let timer = null

    verifyBtn.addEventListener('click', function () {
        if (timer) {
            return;
        }

        var phone = $("#phone").val();
        var myreg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
        if (!myreg.test(phone)) {
            alert("请输入正确的手机号")
            return;
        }

        $.post({
            contentType:"application/json;charset=utf-8",
            data: '{"phone":'+phone+'}',
            url: "/cServer/user/getRegisterCode",
            success: function (result) {
                if(result.code!=200){
                    alert(result.msg)
                }else{
                    alert('发送成功')
                }
            }
        });

        let count = 60
        timer = setInterval(() => {
            if (count === 0) {
            clearInterval(timer)
            timer = null
            this.innerHTML = '发送验证码'

            return
        }

        this.innerHTML = `下次发送${count--}秒`
    }, 1000)
    })
</script>
</body>
</html>
