<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>道路救援服务协议</title>
</head>
<style type="text/css">
    p{
        text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
    }
</style>
<body>
<div align="center"><font size="5"><strong>道路救援服务协议</strong></font></div>
<p><font color="red">重要提示：</font></p>
<p>在使用车己道路救援服务之前，请您仔细阅读本规则，并充分理解各条款内容。当您接受或使用道路救援服务时，即表示您作为本服务用户已知悉并同意本规则的全部内容。</p>
<p><font color="red">一、 服务对象</font></p>
<p>7座及以下非营运客车、轿车。</p>
<p><font color="red">二、 服务范围</font></p>
<p>全国城市施救车辆所能通行和到达的区域（不含香港、澳门、台湾），并且当地已开通道路救援服务， 但不包括交通部门或其他部门规定限制第三方道路救援活动的路段，以及在高速公路、隧道、大桥、高架道路等收费或监管路段（以交管部门具体规定为准）， 道路救援服务在路修结束时或在将车辆拖至用户指定维修厂处时终止。</p>
<p><font color="red">三、 服务项目</font></p>
<p>1、 搭电：车辆因蓄电池亏电等情况造成车辆无法启动，提供蓄电池搭电服务；若已出现多次馈电、 蓄电池老化或车辆存在蓄电池以外的问题建议使用拖车服务，以避免搭电失败。</p>
<p>2、 换胎：车辆因轮胎损坏无法行驶，到达现场更换备胎；用户须自备足气备胎，如车辆安装防盗螺丝，用户应自行提供防盗螺丝钥匙，若出现两条或以上轮胎损坏，或无足气可用备胎时，应使用拖车服务。</p>
<p>3、 拖车：车辆出现故障无法行驶，或发生交通事故经现场处理完毕情况下，通过专业清障车将车辆拖至用户指定维修厂 （暂不包含车辆脱离正常行驶道路陷入困境，无法正常牵引上拖车的情形，包括：陷入路井、路沟，落入河流、水沟，侧翻、倒翻或其他不可预见的特殊情况）， 用户选择拖车起终地后平台显示的价格为一口价， 暂不支持目的地变更 （注：选择拖车目的地时平台显示的周边维修厂为直线示意距离，而非拖车行驶距离，不作为价格计算依据）。 拖车服务若发生以下场景产生额外救援服务费用，需要在线下与救援人员结算：</p>
<p>a) 地下车库：拖车服务中遇到地下车库限高无法实施救援时，额外安排小车前往地下车库将被救车辆拖离车库；</p>
<p>b) 辅助轮：在救援过程中为了不损伤车辆本身的技术性能，保障车辆完好需要增加辅助的措施来完成救援；</p>
<p>c) 等待费：救援人员到达现场无法立即展开救援，应用户要求等待30分钟以上的；</p>
<p>d) 路桥费：拖车服务过程中产生的高速公路费、过桥费、通行费、停车费等（停车费仅限救援人员在救援地或按用户要求停车产生的费用）。</p>
<p><font color="red">四、 取消退款规则</font></p>
<p>1、 订单支付超过30分钟且救援人员未前往现场，自行点击取消操作，若救援人员已派遣，请联系人工进行取消操作，并将收取已支付金额的50%作为空驶费，且已使用的优惠券无法退回。</p>
<p>2、 如果救援人员到达现场，订单不支持取消退款。</p>
<p><font color="red">五、 服务说明</font></p>
<p>进行道路救援服务前，您同意并进行以下授权：同意车己将您的故障位置、车牌号、车型、姓名、手机号码等为提供该救援服务所必要的个人信息提供给相关救援人员，以便和您取得联系；为保证服务质量，允许救援人员在现场通过拍照、摄像、录音、记录等方式收集和处理道路救援服务有关的个人信息。</p>
<p>您确认申请救援的车辆状况和用户行为不符合以下任何一项除外责任，并同意车己在下述情况下可免除责任：</p>
<p>1、 车辆参与赛车、拉力赛、速度或耐久性测试、试乘试驾以及在非官方道路上驾驶。</p>
<p>2、 车辆用于出租车或租赁等商业用途。</p>
<p>3、 车辆运载碳氢燃料、易燃易爆或有毒矿物质或其它物料造成损失的。</p>
<p>4、 车辆作为救护车运载伤员或作为灵车运载死者的。</p>
<p>5、 车辆所承载的行李未做良好包装或承载了易碎易腐物品的。</p>
<p>6、 车辆不具备应有的文件或证明（包括技术检验及强制性保险）或不符合法定的车辆运行公共道路交通的要求的。</p>
<p>7、 因故意损坏、破坏或参与违法犯罪行为引起的故障。</p>
<p>8、 车辆的抛锚是直接或间接因警方或其他有关部门介入引起的。</p>
<p>9、 车辆的操作违反该车使用说明、非法改装等引起的损坏或未根据车辆制造商的建议定期保养。</p>
<p>10、 因用户或用户委托的驾驶人员违规，而导致超员、运载物品或动物的重量、乘载或安排方式上违规。</p>
<p>11、 车辆故障或事故发生后引发的任何相关费用或财产损失。</p>
<p>12、 车辆的驾驶人员处于下列任一情况者：</p>
<p>a) 处于醉酒状态中，车辆驾驶人员的血液中的酒精含量超过交通法、机动车行驶法、道路安全法或者《中华人民共和国道路交通安全法》、《中华人民共和国道路交通安全法实施条例》的相关规定的，则视为醉酒；</p>
<p>b) 车辆驾驶人员处于毒品、毒物、非处方的麻醉剂的影响下；</p>
<p>c) 不具有用户车辆类别应有的驾驶证或相应证件，或驾驶证等证件因违规而被吊销或吊扣的。</p>
<p>13、 现场被救车辆车牌与申请不一致的。</p>
<p>14、 经救援人员现场认定车辆情况与用户报案描述严重不符，且此种误描述根据救援人员的判定，并非是用户对车辆认知欠缺而导致的。</p>
<p>15、 用户不配合检查或蓄意破坏仪表等设施导致救援人员无法检查车辆，不配合验证身份或转让他人使用服务。</p>
<p>16、 用户已被车己拉入滥用服务黑名单。</p>
<p>17、 当车辆在服务过程中发生交通事故时，车己对交通法规规定的用户车辆保险赔付范围内的项目不承担责任。</p>
<p>18、 在实施救援过程中，因车辆自身问题（如：拖车钩、拖车钩座或车前盖断裂、脱落等）或其他非救援人员过错导致的用户车辆损失，或导致其他任何人身伤亡或财产损失，车己无须承担任何责任。</p>
<br />
</body>
</html>