<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车己代驾</title>
</head>
<style type="text/css">
    p{
        text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
    }
</style>
<body>
<div align="center"><font size="5"><strong>车己代驾</strong></font></div>
<p><font color="red">司机接单后</font></p>
<p>1.乘客五分钟内可以免费取消，五分钟后取消将补偿给司机5元取消费；</p>
<p>2.若司机迟到，乘客可免费取消；</p>
<p>3.若乘客迟到，司机可以免费取消或者开始迟到计费，最后完成订单后，迟到计费会被计入总行程费用</p>
<p><font color="red">取消补偿规则</font></p>
<p>1.乘客取消支付的取消费，将作为空驶补偿支付给司机；</p>
<p>2.司机取消支付的取消费，将以代金卷的形式补偿给顾客；</p>
<p><font color="red">如何判断迟到</font></p>
<p>1.司机接单后，司机十分之内未能到达约定上车地点，记为司机迟到；</p>
<p>2.司机接单后，乘客15分钟内未能到达约定上车地点，记为乘客迟到；</p>

</body>
</html>