<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>道路救援服务协议</title>
</head>
<style type="text/css">
    p{
        text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
    }
</style>
<body>
<div align="center"><font size="5"><strong>年检办理服务说明</strong></font></div>
<p><font color="red">免上线年检办理说明</font></p>
<p>1. 免上线年检车辆为注册日期在6年内、六座及六座以下非运营车辆；</p>
<p>2. 运营车辆、面包车、六座以上车辆需上线年检验车；</p>
<p>3. 免检车主下单前通过上传年检所需证件，包括行驶证原件、交强险保单副本原件(有效期内)；</p>
<p>4. 免检车辆办理一般需要1-2个工作日，办理完成后，车己将以特快专递的方式将相关证件寄回车主(需自行承担快递费用)；</p>
<p>5. 本服务价格中不包含相关证件的快递费用，车主向我司邮寄证件的快递费用需由车主自行承担。</p>
<p><font color="red">上线年检办理说明</font></p>
<p>1. 年检之前请确保车辆的行驶证原件以及交强险保险单原件齐全；</p>
<p>2. 确保车辆所有灯光正常（近光灯、远光灯、刹车灯、雾灯、转向灯等等）、车内备有三角警示牌；</p>
<p>3. 上线年检由师傅上门取车后开到指定的车辆检车站验车；</p>
<p>4. 验车合格后由检车站工作人员在行驶证上加盖公章并发放车辆年检合格标志，再由师傅把车辆送回取车地点交还车主；</p>
<p>5. 如师傅已按规定时间到达到指定地点，车主要取消本次年检服务，车己将收取60元服务费作为师傅补偿，剩余金额将原路返还；</p>
<p>6. 如师傅已按规定时间到达到指定地点，30分钟内车主未出现或联系不上车主，则默认因车主原因取消本次年检服务；车己将收取60元服务费作为师傅补偿，剩余金额将原路返还；</p>
<p>7. 如因车辆自身原因验车未通过(由检车机构出具检测证明)，车己将正常收取本次检测费用。若客户仍需要检测，需在我司重新下单。</p>
<p><font color="red">温馨提示</font></p>
<p>1. 年检之前请确保车辆所有违章已处理完毕；</p>
<p>2. 因车主原因（包括但不限于车辆有未处理完结的违章、证件不齐全、车辆状态异常、延迟提供资料等）造成年检办理未成功的，因此造成的不利后果由车主自行承担；</p>
<p>3. 购买本产品及提供所需证件时请预留3-5个工作日，以确保有充足的时间办理手续，避免耽误年检手续办理；</p>
<p>4. 下单时请仔细核对您的联系方式、邮寄地址、取车地址、车辆信息等，以确保车辆年检能够顺利完成、文件能够安全寄回；</p>
<p>5. 若您提供的信息、资料不齐全的，车己将会尽快与您取得联系，请您积极配合补充提供；</p>
<p>6. 车主交车过程中请仔细确认车辆外观是否损伤，贵重物品请车主自行保管避免遗失；</p>
<br />
</body>
</html>