@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>小程序新增用户统计</h5>
            </div>

            <div class="col-sm-12">
                <#table id="wxUser"/>
            </div>
        </div>
    </div>
</div>
<script>
    laydate.render({
    elem: '#time',
    range: '~'
    });
</script>
<script src="${ctxPath}/static/modular/system/couponCount/xcxUserCount.js"></script>
@}
