<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style= "text-align:center">
    <strong>
		<span style= ";font-family:宋体;font-weight:bold;font-size:16px">
			<span style= "font-family:宋体">
			</span>
		</span>
    </strong>
</p>
<p style= "text-align:center">
    <strong>
		<span style= ";font-family:宋体;font-weight:bold;font-size:16px">
			<span style= "font-family:宋体">
				车己
			</span>
			APP -
			<span style= "font-family:宋体">
				涉及收集用户信息的第三方
			</span>
			<span style= "font-family:Calibri">
				SDK
			</span>
			<span style= "font-family:宋体">
				列表
			</span>
		</span>
    </strong>
</p>
<p style= "text-align:left">
	<span style= ";font-family:宋体;font-size:14px">
		&nbsp;
	</span>
</p>
<p style= "text-align:left">
	<span style= ";font-family:宋体;font-size:14px">
		<span style= "font-family:宋体">
			为保障车己
		</span>
		APP的稳定运行或实现相关功能，我们可能会接入由第三方提供的软件开发包（SDK）实现前述目的。我们接入的部分第三方SDK可能涉及收集用户信息，用于向用户提供服务。我们会评估该第三方收集信息的合法性、正当性、必要性，要求第三方对您的信息采取保护措施，并且严格遵守相关法律法规与监管要求。
	</span>
</p>
<p style= "text-align:left">
	<span style= ";font-family:宋体;font-size:14px">
		<span style= "font-family:宋体">
			为了向用户提供更多服务、保证服务稳定性和质量或者升级相关功能时，我们可能需要调整我们接入的第三方
		</span>
		SDK。我们会及时在本页面向您说明涉及收集用户信息的第三方SDK的最新情况：
	</span>
</p>
<p style= "text-align:left">
	<span style= ";font-family:宋体;font-size:14px">
		&nbsp;
	</span>
</p>
<table cellspacing= "0" width= "552">
    <tbody>
    <tr class= "firstRow">
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-width: 1px; border-color: windowtext;">
            <p>
                <strong>
						<span style= ";font-family:宋体;font-size:14px">
							名 称
						</span>
                </strong>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
                <strong>
						<span style= ";font-family:宋体;font-size:14px">
							使用目的
						</span>
                </strong>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
                <strong>
						<span style= ";font-family:宋体;font-size:14px">
							第三方公司名称
						</span>
                </strong>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
                <strong>
						<span style= ";font-family:宋体;font-size:14px">
							获取的信息
						</span>
                </strong>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top-width: 1px; border-top-color: windowtext; border-bottom-width: 1px; border-bottom-color: windowtext; word-break: break-all;">
            <p>
                <strong>
						<span style= ";font-family:宋体;font-size:14px">
							第三方隐私政策
						</span>
                </strong>
            </p>
        </td>
    </tr>

    <tr>
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						高德定位SDK
					</span>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						展示用户和车辆位置
					</span>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						高德软件有限公司
					</span>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						位置信息，SIM卡信息（subscriber ID，运营商信息），设备信息（Mac地址，手机序列号），动态传感器信息，基站信息,获取已安装APP信息,设备标识符(IMSI、Android_ID)
					</span>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= "font-family:Calibri;font-size:16px">
						<a href= "https://cache.amap.com/h5/h5/publish/238/index.html">
							<span style= "font-family:宋体">
								https://cache.amap.com/h5/h5/publish/238/index.html
							</span>
						</a>
					</span>
            </p>
        </td>
    </tr>

    <tr>
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						微信
					</span>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						登录、支付
					</span>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style=
                                  ";font-family:宋体;font-size:14px;background:rgb(255,255,255)">
						腾讯
					</span>
                <span style=
                              ";font-family:宋体;font-size:14px;background:rgb(255,255,255)">
						科技（深圳）
					</span>
                <span style=
                              ";font-family:宋体;font-size:14px;background:rgb(255,255,255)">
						有限公司
					</span>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						设备信息（IMEI，Mac地址），SIM卡信息（运营商信息），无线网络信息
					</span>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= "font-family:Calibri;font-size:16px">
						<a href=
                                   "https://weixin.qq.com/cgi-bin/readtemplate?lang=zh_CN&t=weixin_agreement&s=privacy">
							<span style= "font-family:宋体">
								https://weixin.qq.com/cgi-bin/readtemplate?lang=zh_CN&amp;t=weixin_agreement&amp;s=privacy
							</span>
						</a>
					</span>
            </p>
        </td>
    </tr>
    <tr>
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						cn.jiguang
                        cn.jpush
					</span>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						推送消息
					</span>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						深圳市和讯华谷信息技术有限公司
					</span>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						设备参数及系统信息(设备类型、设备型号、系统版本、及相关硬件信息)、 设备标识符(IMEI等)、网络信息与 位置信息、APP应用列表及活跃状态信息,获取Android_ID,获取MAC地址,获取已安装APP信息,获取WIFI_SSID
					</span>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= "font-family:Calibri;font-size:16px">
						<a href= "https://www.jiguang.cn/license/privacy">
							<span style= "font-family:宋体">
								https://www.jiguang.cn/license/privacy
							</span>
						</a>
					</span>
            </p>
        </td>
    </tr>
    <tr>
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						华为推送
					</span>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						推送消息
					</span>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;background:rgb(255,255,255)">
						华为
					</span>
                <span style=
                              ";font-family:宋体;font-size:14px;background:rgb(255,255,255)">
						技术有限公司
					</span>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						唯一设备识别码、Token、网络信息
					</span>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= "font-family:Calibri;font-size:14px">
						<a href=
                                   "https://developer.huawei.com/consumer/cn/doc/development/HMS-Guides/push-sdk-data-security">
							<span style= "font-family:宋体">
								https://developer.huawei.com/consumer/cn/doc/development/HMS-Guides/push-sdk-data-security
							</span>
						</a>
					</span>
            </p>
        </td>
    </tr>
    <tr>
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						小米推送
					</span>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						推送消息
					</span>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style=
                                  ";font-family:宋体;font-size:14px;background:rgb(255,255,255)">
						小米
					</span>
                <span style=
                              ";font-family:宋体;font-size:14px;background:rgb(255,255,255)">
						科技有限责任公司
					</span>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= ";font-family:宋体;font-size:14px">
						唯一设备识别码、网络信息
					</span>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style= "font-family:Calibri;font-size:16px">
						<a href= "http://www.mi.com/about/new-privacy">
							<span style= "font-family:宋体">
								http://www.mi.com/about/new-privacy
							</span>
						</a>
					</span>
            </p>
        </td>
    </tr>
    <tr style= "height:101px">
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						oppo推送
					</span>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p>
					<span style=
                                  ";font-family:宋体;color:rgb(23,26,29);font-size:14px;background:rgb(255,255,255)">
						推送消息
					</span>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;background:rgb(255,255,255)">
						广东欧珀移动通信有限公司
					</span>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						唯一设备识别码、SIM卡序列号、ANDROID_ID
					</span>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext; word-break: break-all;">
            <p style= "vertical-align: top">
                <a href= "https://www.ishumei.com/legal/cn/privacy.html" target=
                        "_self">
						<span style= ";font-family:宋体;font-size:14px">
							https://www.coloros.com/privacy.html
						</span>
                </a>
            </p>
        </td>
    </tr>

    <tr>
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						腾讯Bugly
					</span>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						收集崩溃信息
					</span>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;background:rgb(255,255,255)">
						腾讯
					</span>
                <span style=
                              ";font-family:宋体;font-size:14px;background:rgb(255,255,255)">
						科技（深圳）
					</span>
                <span style= ";font-family:宋体;background:rgb(255,255,255)">
						有限公司
					</span>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						获取唯一设备识别码,获取已安装APP信息,设备标识符(IMSI),获取Android_ID,获取SIM序列号
					</span>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= "font-family:Calibri;font-size:14px">
						<a href= "https://bugly.qq.com/v2/contract">
							<span style= "font-family:宋体">
								https://bugly.qq.com/v2/contract
							</span>
						</a>
					</span>
            </p>
        </td>
    </tr>

    <tr>
        <td width= "58" valign= "top" style=
                "padding: 0px 7px; border-left-width: 1px; border-left-color: windowtext; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						环信SDK
					</span>
            </p>
        </td>
        <td width= "77" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						业务沟通
					</span>
            </p>
        </td>
        <td width= "96" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;letter-spacing:0;font-size:14px">
						北京易掌云峰科技有限公司
					</span>
            </p>
        </td>
        <td width= "149" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= ";font-family:宋体;font-size:14px">
						获取唯一设备识别码、网络信息、设备标识符(IMSI),获取Android_ID
					</span>
            </p>
        </td>
        <td width= "172" valign= "top" style=
                "padding: 0px 7px; border-left: none; border-right-width: 1px; border-right-color: windowtext; border-top: none; border-bottom-width: 1px; border-bottom-color: windowtext;">
            <p style= "vertical-align: top">
					<span style= "font-family:Calibri;font-size:14px">
						<a href= "https://www.rongcloud.cn/protocol">
							<span style= "font-family:宋体">
								https://www.easemob.com/protocol
							</span>
						</a>
					</span>
            </p>
        </td>
    </tr>

    </tbody>
</table>
<p>
	<span style= ";font-family:Calibri;font-size:14px">
		&nbsp;
	</span>
</p>
<p style= "text-align:left">
	<span style= ";font-family:宋体;font-size:16px">
		&nbsp;
	</span>
</p>
<p style= "text-align:center">
    <strong>
		<span style= "color:#002000;font-family:宋体">
		</span>
    </strong>
    <br/>
</p>
</body>
</html>