<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheji.web.modular.mapper.AppUserCouponMapper">



<!--    List<AppUserCouponEntity> findCoupon(Integer userid);-->
    <select id="findCoupon" resultType="AppUserCouponEntity">

    SELECT a.id,is_use isUse, b.money money,CASE coupon_id
				WHEN 1 THEN '喷漆优惠卷'
				WHEN 2 THEN '代驾优惠卷'
				WHEN 3 THEN '年检优惠卷'
				ELSE '优惠卷'
				END as `name`,validity_time toDayTime from app_user_coupon as a
				LEFT JOIN app_coupon_type as b ON a.coupon_id = b.id
				WHERE user_id = #{userid}

    </select>


<!--	Integer findNoUseCoupon(String userId);-->
	<select id="findNoUseCoupon" resultType="Integer">
		SELECT COUNT(0) FROM app_user_coupon WHERE user_id = #{userId} AND is_use = 2
	</select>


<!--	List<AppUserCouponEntity> findCouponByType(Integer userid);-->
	<select id="findCouponByType" resultType="AppUserCouponEntity">
		SELECT * FROM app_user_coupon WHERE coupon_id = #{type} AND user_id = #{userid} AND is_use = 2 limit 1
	</select>


</mapper>
