<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.BizWxpayOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.BizWxpayOrder">
        <id column="out_trade_no" property="outTradeNo" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="openid" property="openid" />
        <result column="prepay_id" property="prepayId" />
        <result column="notify_time" property="notifyTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.out_trade_no as outTradeNo, a.amount, a.status, a.openid, a.prepay_id as prepayId, a.notify_time as notifyTime, a.create_time as createTime, b.phone, c.name
    </sql>

    <select id="selectList" resultType="map">
        select
        <include refid="Base_Column_List" />

        from biz_wxpay_order a left join biz_wx_user b on a.openid = b.openid left join sys_user c on c.phone = b.phone
        <where>
            <if test="condition != null and condition != ''">
                and (a.openid = #{condition} or b.phone = #{condition})
            </if>
            <if test="outTradeNo != null and outTradeNo != ''">
                and a.out_trade_no = #{outTradeNo}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="createStartTime != null and createStartTime != '' and createEndTime != '' and createEndTime != null">
                and (a.create_time between CONCAT(#{createStartTime},' 00:00:00') and CONCAT(#{createEndTime},' 23:59:59'))
            </if>
        </where>
        ORDER BY a.create_time desc
    </select>


    <select id="selectByOutTradeNo" resultType="com.stylefeng.guns.modular.system.model.BizWxpayOrder">
        select * from biz_wxpay_order t where t.out_trade_no=#{out_trade_no}
    </select>
</mapper>
