<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Notice">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <!--<result column="type" property="type"/>-->
        <result column="content" property="content"/>
        <result column="newsType" property="newsType"/>
        <result column="homePageImgUrl" property="homePageImgUrl"/>
        <result column="pageview" property="pageview"/>
        <result column="createtime" property="createtime"/>
        <result column="creater" property="creater"/>
    </resultMap>

    <select id="list" resultType="map">
        select * from sys_notice
        <where>
        <if test="notice.id != null">
            AND id = #{notice.id}
        </if>
        <if test="notice.newsType != null">
            AND newsType = #{notice.newsType}
        </if>
        </where>
        order by createtime DESC
    </select>

    <update id="updateNewsPv">
		update sys_notice set pageview = pageview + 1 where id = #{id}
	</update>
</mapper>
