<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheji.b.modular.mapper.AppMessageUrlMapper">



<!--        List<String> selectUrlPhotos(@Param("cid") Integer cid, @Param("type")Integer type, @Param("source")Integer source);
-->
    <select id="selectUrlPhotos" resultType="String">
                SELECT url FROM app_message_url WHERE message_id = #{cid} AND type = #{type}
    </select>
</mapper>
