<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheji.b.modular.mapper.BizAccidentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cheji.b.modular.domain.BizAccident">
        <id column="id" property="id" />
        <result column="openid" property="openid" />
        <result column="video" property="video" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="checkId" property="checkId" />
        <result column="status" property="status" />
        <result column="reason" property="reason" />
        <result column="address" property="address" />
        <result column="realness" property="realness" />
        <result column="isaddvideo" property="isaddvideo" />
        <result column="video_id" property="videoId" />
        <result column="createTime" property="createTime" />
        <result column="checkTime" property="checkTime" />
        <result column="version" property="version" />
        <result column="carCount" property="carCount" />
        <result column="realaddress" property="realaddress" />
        <result column="realImg" property="realImg" />
        <result column="accImg" property="accImg" />
        <result column="lat2" property="lat2" />
        <result column="lng2" property="lng2" />
        <result column="topFlag" property="topFlag" />
        <result column="realArrTime" property="realArrTime" />
        <result column="thumbnail_flag" property="thumbnailFlag" />
        <result column="thumbnail_url" property="thumbnailUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openid, video, lng, lat, checkId, status, reason, address, realness, isaddvideo, video_id AS videoId, createTime, checkTime, version, carCount, realaddress, realImg, accImg, lat2, lng2, topFlag, realArrTime, thumbnail_flag AS thumbnailFlag, thumbnail_url AS thumbnailUrl
    </sql>

<!--    ListDetailsDto findBizAccident(String accid);-->
    <select id="findBizAccident" resultType="ListDetailsDto">
        SELECT
        a.id accid,
        video video,
        b.wxname name,
        b.phone phoneNumber,
        realness,
        lng lng,
        lat lat,
        address address,
        a.createTime time
        FROM biz_accident as a
        LEFT JOIN biz_wx_user as b ON a.openid = b.openid
        WHERE a.id = #{accid}
    </select>





    <!--    BizAccidentEntity findById(Integer accid);-->
    <select id="findById" resultType="BizAccident">
        select * from biz_accident where id = #{accid}
    </select>





</mapper>
