<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheji.b.modular.mapper.MerchantsInfoBannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cheji.b.modular.domain.MerchantsInfoBannerEntity">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="index" property="index" />
        <result column="user_b_id" property="userBId" />
        <result column="creat_time" property="creatTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, url, index, user_b_id AS userBId, creat_time AS creatTime, update_time AS updateTime
    </sql>

<!--    String findUpMerImg(String member);-->
    <select id="findUpMerImg" resultType="String">
        SELECT url FROM app_photo_mer WHERE up_id = #{member} AND `index` = 1
    </select>

</mapper>
