<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheji.b.modular.mapper.PushBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cheji.b.modular.domain.PushBillEntity">
        <id column="id" property="id" />
        <result column="accid" property="accid" />
        <result column="user_id" property="userId" />
        <result column="deduction" property="deduction" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, accid, user_id AS userId, deduction, create_time AS createTime, update_time AS updateTime
    </sql>
<!--
    List<PushBillEntity> findScreenBill(@Param("id") Integer id, @Param("pagesize") Integer pagesize, @Param("date") String date);
-->
    <select id="findScreenBill" resultType="PushBillEntity">
        SELECT
         id,
         accid,
         user_id userId,
         deduction,
         create_time createTime,
         update_time updateTime
         FROM app_push_bill
          WHERE user_id =#{id} AND DATE_FORMAT(create_time,'%Y%m') = #{date}
          ORDER BY create_time desc LIMIT #{pagesize},20
    </select>

    <!--BigDecimal findPayAmount(@Param("userId")Integer userId,@Param("yearmonth") String yearmonth);-->
    <select id="findPayAmount" resultType="BigDecimal">
        SELECT sum(deduction)   FROM app_push_bill
	      WHERE DATE_FORMAT(create_time,'%Y%m') = #{yearmonth} AND user_id =#{userId}
    </select>


<!--    List<PushBillEntity> selectAllBillList(@Param("id")Integer id, @Param("pagesize")Integer pagesize);-->
    <select id="selectAllBillList" resultType="PushBillEntity">

        SELECT t.* FROM(
        SELECT id ,accid,user_id userId,deduction,source,create_time createTime,update_time updateTime,CONCAT(1)type,CONCAT('') address,CONCAT('') thumbnailUrl from app_push_bill  WHERE user_id = #{id}

            union ALL

        SELECT a.id,a.id accid,user_b_id userId,CONCAT('')deduction,CONCAT('')source , a.create_time createTime,a.update_time updateTime,CONCAT(2)type,adress address,b.url thumbnailUrl FROM app_send_out_sheet as a
            LEFT JOIN app_send_url as b ON a.id = b.send_id
         WHERE  b.`index` = 1  AND user_b_id = #{id}
        )as t ORDER BY createTime DESC LIMIT #{pagesize},20
    </select>


    <!--    List<PushBillEntity> findAccident(@Param("id")Integer id, @Param("s")String s);-->
    <select id="findAccident" resultType="PushBillEntity">
        SELECT * FROM app_push_bill WHERE user_id = #{id} AND accid = #{s}
    </select>

    <select id="selectAllBillList2" resultType="PushBillEntity">

        SELECT id ,accid,user_id userId,deduction,source,create_time createTime,update_time updateTime,CONCAT(1)type,CONCAT('') address,CONCAT('') thumbnailUrl,track_state trackState from app_push_bill
        WHERE user_id = #{id}  AND is_claim = 1

        <if test="state != null and state != ''">
            <if test="state == 1">
                AND state = #{state}
            </if>
            <if test="state == 2">
                AND check_time is not null
            </if>
            <if test="state == 3">
                AND check_time is null
            </if>
            <if test="state == 4">
                AND reward is not null
            </if>

        </if>

       ORDER BY createTime DESC LIMIT #{pagesize},20
    </select>


    <!--    List<PushBillEntity> select234BillList(@Param("id")Integer id, @Param("pagesize")Integer pagesize,@Param("state")Integer state);-->
    <select id="select234BillList" resultType="PushBillEntity">

        SELECT DISTINCT a.id ,accid,a.user_id userId,deduction,a.source,a.create_time createTime,a.update_time updateTime,CONCAT(1)type,CONCAT('') address,CONCAT('') thumbnailUrl,track_state trackState from app_push_bill as a
        LEFT JOIN app_message_car as b on a.id = b.mess_id
        WHERE b.type = 1
        AND a.user_id = #{id}
        AND is_claim = 1
        <if test="state != null and state != ''">
            <if test="state == 1">
                AND b.vehicle_results = 3
            </if>
            <if test="state == 2">
                AND b.vehicle_results = 4
            </if>
            <if test="state == 3">
                AND b.vehicle_results = 2
            </if>
            <if test="state == 4">
                AND a.remark is not null
            </if>
        </if>

        ORDER BY createTime DESC LIMIT 0,20
    </select>


    <!--    Integer findAllNewTask(String bid);-->
    <select id="findAllNewTask" resultType="Integer">
        SELECT count(1) newTask FROM app_push_bill WHERE state = 1 AND user_id = #{bid} AND is_claim = 1

    </select>

    <!--    Integer findComeScene(String bid);-->
    <select id="findComeScene" resultType="Integer">
       SELECT count(1) newTask FROM app_push_bill WHERE check_time is not null AND user_id = #{bid} AND is_claim = 1

    </select>

    <!--    Integer findPbTrackAgain(String bid);-->
    <select id="findPbTrackAgain" resultType="Integer">
        SELECT  COUNT(*) from
		(SELECT DISTINCT a.id id FROM app_push_bill as a LEFT JOIN app_message_car as b on a.id = b.mess_id AND b.type = 1
	         WHERE  user_id = #{bid} AND b.vehicle_results = 4 AND is_claim = 1)a
    </select>


    <!--    Integer findPushSuccess(String bid);-->
    <select id="findPushSuccess" resultType="Integer">
        SELECT  COUNT(*) from
		(SELECT DISTINCT a.id id FROM app_push_bill as a LEFT JOIN app_message_car as b on a.id = b.mess_id AND b.type = 1
	         WHERE  user_id = #{bid} AND b.vehicle_results = 2 AND is_claim = 1)a
    </select>


    <select id="selectAllBillListbySearch" resultType="PushBillEntity">
         SELECT t.* FROM(
        SELECT id ,accid,user_id userId,deduction,source,create_time createTime,update_time updateTime,CONCAT(1)type,CONCAT('') address,CONCAT('') thumbnailUrl,track_state trackState from app_push_bill  WHERE user_id = #{id}

            union ALL

        SELECT a.id,a.id accid,user_b_id userId,CONCAT('')deduction,CONCAT('')source , a.create_time createTime,a.update_time updateTime,CONCAT(2)type,adress address,b.url thumbnailUrl,track_state trackState FROM app_send_out_sheet as a
            LEFT JOIN app_send_url as b ON a.id = b.send_id
         WHERE  b.`index` = 1  AND user_b_id = #{id}
        )as t
            	WHERE t.address LIKE "%"#{text,jdbcType=VARCHAR}"%"
         ORDER BY createTime DESC LIMIT #{pagesize},20
    </select>



    <!--    List<String> selectSceneImg(Long id);-->
    <select id="selectSceneImg" resultType="CheckImgList">
       SELECT url,`index` type FROM app_send_url WHERE type = 2 and source = 1  AND send_id = #{id}

    </select>


<!--    MineDto findAllCount(@Param("id")Integer id, @Param("year")String year, @Param("month")String month);-->
    <select id="findAllCount" resultType="MineDto">
        SELECT  count(1) allbill,COALESCE(SUM(momey),0) allIndent   FROM app_user_account_record
                WHERE user_id = #{id} AND type = 20  AND  add_flag = 2 AND  source =1
                 AND year(create_time) = #{year} AND month(create_time) = #{year}
    </select>

</mapper>
