<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style type="text/css">
p{
text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
}
</style>
	<body>
		<div align="center"><font size="5"><strong>车己用户服务协议</strong></font></div>
<p><font color="red">一、总则</font></p>
<p>本协议自您完成在车己的注册流程之时生效，与车己注册协议-并使用，您可以通过车己注册协议的引导在“车己app”移动客户端内找到本协议。您一旦通过车己进行购买或接受车己向您提供的服务，即视为您已了解并完全同意本服务协议各项内容，包括车己对本服务协议随时所做的任何修改，并成为车己的用户(以下简称“用户”)。</p>
<p>您在进行车己帐户注册时，已经认真阅读本协议，并认可本协议中所写内容，同意遵照上述约定在“车己app”内享受各项权利并履行各项义务，接受车己对您违反本协议行为的纠正。</p> 
<p>本协议各条款可由车己随时更新，且毋须另行通知您，可通过网上公布修改后版本的方式向您展示，更新版本自公布之日起代替原本的服务办议。</p>
<p>您了解并同意，本服务仅依其当前所呈现的状况提供，对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存、未按车己指定程序进行网上购买、购买错误、由于个人原因未能全面了解所购买产品的正常使用方法或其它任何问题，车己均不承担任何责任。车己保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p>
    <p><font color="red">二、服务说明</font></p>
    <p>本服务协议针对您在“车己”的各项活动包括但不限于:</p>
<p>1.在线购买车己提供的产品;</p>
<p>2.按车己公布的订单规则或退换货规则，享受在线进行退换货服务;</p>
<p>3.对已经完成订单流程或采购流程的商品对外展示产品实物照片并进行文字评论;</p>
<p>4.参加车己活动以及使用其他信息服务及技术服务(以下可简称为“会员服务”)等，为改善会员体验或经营需要，会员服务的项目和内容可能会不时调整;</p>
<p>5.您从车己上购买的部分商品和服务通常并非由车己直接销售或提供，而是由入车己第三方的经营者销售或提供。在车己提供商品或服务的经营者，统称为“商家”。 商家利用车己系统开展经营活动，独立承担法律责任，车己将协助您保护您的合法权益;</p>
<p>您通过车己可以:</p>
<p>1) 通过车己自带功能照相，提报交通事故视频和照片，并在车己内展示您个人提供的图片、肖像，您对其他用户的评论或点赞;您对车己产品的使用心得、交流经验、以及对车己的期待;</p>
<p>2)通过车己内其他用户展示图片直接找到对应的产品，并完成在线购买;</p>
<p>3)通过车己编辑您传的照片;</p>
<p>4)在上传事故视频或照片时，或上传的事故视频或照片被车己评定为“有学习和宣传意义的”，您蒋获得车己的现金奖励或其他物质激励;</p>
<p>您同意接收车己合作的第三方通过邮件、短信、您在车己注册的会员帐户等，向您发送的与车己有关的各类活动、奖励等信息，您在开始使用车己提供的服务之日起，视为您已经同意接收上述信息，如您不愿接收上述信息可直接设定拒收。</p>
<p>车己不对您发布信息的删除或储存失败负责，车己有权判定您的行为是否符合车己建立的初衷，如果您的行为不符合前述要求，车己有权删除有关信息或终止对您提供服务。</p>
<p><font color="red">三、您的注册义务</font></p>
<p>为了能使用本服务，您同意以下事项:依本服务注册提示请您填写正确的注册邮箱、密码和名号，并确保今后更新的登录邮箱、名号、头像等资料的有效性和合法性。若您提供任何违法、不道德或车己认为不适合在车己上展示的资料;或者车己有理由怀疑你的资料属于程序或恶意操作，车己有权暂停或终止您的帐号，并拒绝您于现在和未来使用本服务之全部或任何部分。</p>
<p>车己无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、正确性、完整性、适用性及/或是否为最新资料的责任。</p>
<p>用户同意接收车己所发送的活动通知以及推广类短消息。</p>
<p><font color="red">四、用户帐号、密码及安全</font></p>
<p>完成本服务的注册程序并成功注册之后，您可使用您的Email、手机、用户名和密码，登录到您在车己帐号(下称“帐号”)。保护您的帐号安全，是您的责任。</p>
<p>您应对所有使用您的密码及帐号的活动负完全的责任。您同意:</p>
<p>1)请勿将在车己注册获得的账号借给他人使用，您的车己账号遭到未获授权的使用，或者发生其它任何安全问题时，您将立即通知车己;</p>
<p>2)如果您未保管好自己的帐号和密码，因此而产生的任何损失或损害，车己无法也不承担任何责任;</p>
<p>3)除非有法律规定或依生效司法裁决，或者符合车己公布的条件，否则您的用户名和密码不得以任何方式转让、赠与或继承，并且转让、赠与或继承需提供车己要求的合格的文件材料并根据车己制定的操作流程办理;</p>
<p>4)每个用户都要对其帐号中的所有行为和事件负全责，如果您未保管好自己的帐号和密码而对您、车己或第三方造成的损害，您将负全部责任;</p>
<p>5)自行承担由于您在其他平台的登录帐号丢失、被盗(该帐号所在平台与车己存在联合登录合作关系)，致使您无法在车己上进行正常交易或由此给您造成任何损失;</p>
<p>6)您授权并同意在车己购买商品而提供支付服务的支付公司有权将您预留的身份信息(如您的姓名、身份证号)提供给车己;</p>
<p><font color="red">五、守法原则</font></p>
<p>依据国家相关法律法规规章，您同意严格遵守以下义务:</p>
<p>1)不得传输或发表:煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论;</p>
<p>2)从中国大陆向境外传输资料信息时必须符合中国有关法律法规;</p>
<p>3)不得利用车己从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动;</p>
<p>4)不得干扰本车己的正常运转，不得侵入本车己及国家计算机信息系统;</p>
<p>5)不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料;</p>
<p>6)不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论;</p>
<p>7)不得教唆他人从事本条所禁止的行为;</p>
<p>8)不得利用在本网站注册的账户进行牟利性经营活动(如批发、炒货、转卖);</p>
<p>9)不得发布任何侵犯他人著作权、商标权、专利权、商业秘密、或其它专属权利等知识产权及其他合法权利的内容。车己保留删除网站内涉嫌违反本会员章程、法律法规政策及不真实的信息内容且无须通知您的权利;</p>
<p>10)不得将任何广告信函、促销资料、“垃圾邮件”、“滥发信件”、“连锁信件”、“直销”或其它任何形式的劝诱资料加以发布、发送或以其它方式传送;</p>
<p>11)不得将设计目的在于干扰、破坏或限制任何计算机软件、硬件或通讯设备功能之计算机病毒或其它计算机代码、档案和程序之任何资料，加以发布、发送或以其它方式传送;</p>
<p>12)不得干扰或破坏本服务或与本服务相连线之服务器和网络，或违反任何关于本服务连线网络之规定、程序、政策或规范;</p>
<p>13)不得跟踪、人肉搜索或以其它方式骚扰他人; </p>
<p>14)不得故意或非故意地违反任何适用的当地、国家法律，以及任何具有法律效力的规则;</p>
<p>15)不得未经合法授权而截获、篡改、收集、储存或删除他人个人信息、站内邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的;</p>
<p>您已认可车己未对用户的使用行为进行全面控制，您使用任何内容时，包括依赖前述内容之正确性、完整性或实用性时，您同意将自行加以判断并承担所有风险，而不依赖于车己。但车己依其自行之考虑，拒绝和删除可经由本服务提供之违反本条款的或其它引起车己反感的任何内容。</p>
<p>若您未遵守以上规定的，车己有权作出独立判断并采取暂停账号权限直至注销您的账户等措施，并且您须对自己的言论和行为承担法律责任。</p>
<p>您了解并同意，车己依据法律法规的要求，或基于诚信为了以下目的或在合理必要范围内，认定必须将内容加以保存或揭露时，得加以保存或揭露: </p>
<p>1)遵守法律程序;</p>
<p>2)执行本服务协议;</p>
<p>3)回应任何第三人提出的权利主张;</p>
<p>4)保护车己、其用户及公众之权利、财产或个人安全;</p>
<p>5)其它车己认为有必要的情况;</p>
<p><font color="red">六、订单成立及履约基本规则</font></p>
<p>当您下订单时，请您仔细确确认的客户名称、价格、数量、型号、规格、尺寸、联系地址、电话等信息。下单人或收货人与您本人不一致的，下单人或收货人的行为和意思表示视为您的行为和意思表示，您应对下单车或收货人的行为及意思表示的法律后果承担连带责任。</p>
<p>如果因为您填写的收货人联系电话、地址等信息错误，导致商家(或商家委托的配送公司)将货物交付给非您本意的收货人的，由此造成的损失需由您自行承担。</p>
<p>您同意车己上述的订单成立规则:</p>
<p>1)车己中展示的商品以及其价格、 规格等信息，其性质仅为要约邀请，是车己或商家希 望您向其发出要约的意思表示;</p>
<p>2)当您确定提交订单或购买商品时(您的订单内容应包含您希望的订单信息、车主姓名、联系电话、车型车牌等，购买的商品数量、价格及支付方式、收货人、联系方式、收货地址等信息)， 视为您向商家发出了订单要约或商品的要约;</p>
<p>3)当您作为消费者为生活消费需要下单并支付货款的情况下，您货款支付成功后即视为您与销售商之间就已支付货款部分的订单建立了合同关系;</p>
<p>如您在购物过程中有任何疑问或与车己产生纠纷的，您可以通过车己设立统-的客服渠道进行咨询和投诉。</p>
<p><font color="red">七、您在车己内的责任</font></p>
<p>根据有关法律法规，车己在此郑重提请您注意，任何经由车己而发布、上传的文字、资讯、资料、照片、图形、信息或其它资料(以下简称“内容”，无论系公开还是私下传送，均由内容提供者承担责任。车己仅为用户提供内容存储空间，无法控制经由本服务传送之内容，因此不保证内容的正确性、完整性或品质。车己不对您发布信息的删除或储存失败负责，车己有权判定您的行为是否符合车己的建立初衷，如果您的行为不符合前沭要求，车己有权涂有关信自或终止对您提供的各种服务。</p>
<p>您在车己上传或发布的内容，您应保证其为著作权人或已取得合法授权，并且该内容不会侵犯任何第三方的合法权益，您同意授予车己所有上述内容在全球范围内的免费、不可撤销的、永久的、可再许可或转让的独家使用权许可，据该许可车己将有权以展示、推广及其他不为我法律所禁止的方式使用前述内容。</p>
<p>您明确同意其将文字、资讯、资料、照片、图形、信息或其它个人资料上传到互联网上，有可能被其他组织或个人复制、转载、或做其它用途的风险完全由其自己承担;因其使用车己服务而产生的一切后果也由其自己承担，我们对用户不承担任何责任。</p>
<p>由于您通过本服务提供、发布或传送之内容、您与本服务连线、您违反本服务协议、或您侵害他人任何权利因而导致任何第三人提出任何索赔或请求，包括合理的律师费，您同意赔偿车己及其子公司、关联企业、高级职员、代理人、品牌共有人或其它合作伙伴及员工，并使其免受损害，并承担由此引发的全部法律责任。</p>
<p><font color="red">八、帐户管理权</font></p>
<p>您同意车己对您帐户的管理权，包含但不限于将保留您所发布内容之最长期间。通过车己发布或传送之任何信息、通讯资料和其它内容，如被删除或未予储存，您同意车己毋须承担任何责任。您也同意，车己有权依其自行之考虑，不论通知与否，随时变更这些帐户管理权内容。</p>
<p><font color="red">九服务之修改与终止</font></p>
<p>车己有权于任何时间暂时或永久修改或终止本服务(或其任何部分)，且无论通知与否。您同意对于本服务所作的任何修改、暂停或终止，车己对您和任何第三人均无需承担任何责任。</p>
<p><font color="red">十、终止服务</font></p>
<p>您同意车己基于其自行之考虑，因任何理由，包含但不限于缺乏使用，或车己认为您已经违反本服务协议的文字及精神，终止您的帐号或本服务之使用(或服务之任何部分)， 并将您在本服务内任何内容加以移除并删除。您同意依本服务协议任何规定提供之本服务，无需进行事先通知即可中断或终止，您承认并同意，车己可立即关闭或删除您的帐号及您帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，您同意若本服务之使用被中断或终止或您的帐号及相关信息和文件被关闭或删除，车己对您或任何第三人均不承担任何责任。</p>
<p><font color="red">十一、与广告商及其他第三方进行交易</font></p>
<p>您通过车己与广告商及其他第三方进行任何形式的通讯或商业往来，或参与促销活动，包含相关商品或服务之付款及交付，以及达成的其它任何相关条款、条件、保证或声明，完全为您与广告商及其他第三方之间之行为。您因前述任何交易或前述广告商及其他第三方而遭受的任何性质的损失或损害，车己对此不负任何法律责任。</p>
<p><font color="red">十二、车己之专属权利</font></p>
您了解并同意，本服务及本服务所使用之相关软件(以下简称“软件”)含有受到相关知识产权及其它法律保护之专有保密资料。您也了解并同意，经由本服务或广告商向您呈现之广告或信息所包含之内容，亦受到著作权、商标权、服务商标、专利权或其它专属权利之法律保护。未经车己或广告商明示授权，您不得修改、出租、出借、出售、散布本服务或软件之任何部份或全部，或据以制作衍生著作，或使用擅自修改后的软件，包括但不限于为了未经授权而使用本服务之目的。车己仅授予您个人、不可移转及非专属之使用权，使您得于单机计算机使用其软件之目的码，但您不得(并不得允许任何第三人)复制、修改、创作衍生著作、进行还原工程、反向组译，或以其它方式发现原始码，或出售、转让、再授权或提供软件设定担保，或以其它方式移转软件之任何权利。您同意将通过由车己所提供的界面而非任何其它途径使用本服务。
<p><font color="red">十三、担保与保证</font></p>
<p>您明确了解并同意;</p>
<p>1)您使用车己的风险由您个人负担。本服务系依“现状及“现有”基础提供。车己对本服务不提供任何明示或默示的担保或保证，包含但不限于商业适售性、特定目的之适用性及未侵害他人权利等担保或保证;</p>
<p>2)车己不保证以下事项:</p>
<p>*本服务将符合您的要求;</p>
<p>*本服务将不受干扰、及时提供、安全可靠或不会出错，</p>
<p>*使用本服务取得之结果正确可靠:</p>
<p>*您经由本服务购买或取得之任何产品、服务、资讯或其它信息将符合您的期望;</p>
<p>3)是否使用本服务下载或取得任何资料应由您自行考虑且自负风险，因任何资料之下载而导致的您手机之任何损坏或数据流失等后果，由您自行承担;</p>
<p>4)您自车己取得的任何建议或信息，无论是书面或口头形式，除非本服务协议有明确规定，将不构成本服务协议以外之任何保证。</p>
<p>5)如果车己和/或合作单位使用您提供的肖像、姓名或其他合法权益，您同意将您的肖像、姓名和/或其他合法权益-并授权给车己和/或合作单位使用。</p>
<p><font color="red">十四、责任限制</font></p>
<p>您明确了解并同意，基于以下原因而造成的，包括但不限于利润、信誉、应用、数据损失或其它无形损失，车己不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿责任:</p>
<p>1)本服务之使用或无法使用;</p>
<p>2)为替换从或通过本服务购买或取得之任何商品、数据、信息、服务，收到的讯息，或缔结之交易而发生的成本</p>
<p>3)您的传输或数据遭到未获授权的存取或变造;</p>
<p>4)任何第三方在本服务中所作之声明或行为;</p>
<p>5)与本服务相关的其它事宜，但本服务协议有明确规定的除外;</p>
<p>6)第三方以任何方式发布或投递欺诈性信息，或诱导用户受到经济损失，车己不承担任何责任。</p>
<p><font color="red">十五、用户专属权利</font></p>
<p>车己之服务与资料是基于“现状”提供，而且车己明确地表示拒绝对于“服务”、“资料”或“产品”给予任何明示或暗示之保证，包括但不限于，得为商业使用或适合于特定目的之保证。车己对于因“服务”、“资料”或“产品”所生之任何直接、间接、附带的或因此而导致之衍生性损失概不负责。</p>
<p>若您认为您的作品的著作权遭到侵害或您的知识产权被侵犯，根据《信息网络传播权保护条例》的规定，您需及时向车己联系并提供详实的举证材料。或请到中华人民共和国国家版权局下载《要求删除或断开链接侵权网络内容的通知》(下 称“删除通知”)的示范格式，如果您不明白“删除通知”的内容，请登录中华人民共和国国家版权局查看《要求删除或断开链接侵权网络内容的通知》填写说明。</p>
<p><font color="red">十六、一般条款</font></p>
<p>1)本服务协议、注册协议和免责声明构成您与车己之全部协议，并规范您对于本服务之使用行为。在您使用相关服务、使用第三方提供的内容或软件时，亦应遵从所适用之附加条款及条件;</p>
<p>2)本服务协议及您与车己之关系，均受到中华人民共和国法律管辖。您与车己就本服务、本服务协议或其它有关事项发生的争议，应首先友好协商解决，协商不成时应提请车己注册地人民法院诉讼处理;</p>
<p>3)车己未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃;</p>
<p>4)倘本服务协议之任何规定因与中华人民共和国法律抵触而无效，则不抵触部分的规定依然独立受法律保护，在您与车己间适用。</p>
<p><font color="red">十七、隐私条款</font></p>
<p>本隐私条款为车己服务条款的一部分，并适用于您适用车己客户端产品和服务。需要特别说明的是， 本条款不适用于其他第三方向您提供的服务，也不适用于车己中已另行独立设置法律声明及隐私权政策的产品或服务。例如车己app的卖家依车己您提供服务时，您向卖家提供个人信息不适用本条款。在使用车己app各项产品或服务前，请您务必仔细阅读并透彻理解本条款，在确认充分理解并同意后使用相关产品或服务。一旦您开始使用车己网各项产品或服务，即表示您已充分理解并同意本条款。如对本条款内容有任何疑问、意见或建议，您车己app提供的各种联系方式与我们联系。</p>
		<br />
<!--		<div align="right"><font size="3"><strong>汽车车服</strong></font></div>-->
	</body>
</html>
