<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="preview" style="margin:8px"><!--HTML--><p style="white-space: normal;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;一<strong>：&nbsp; 收事故</strong></p>
    <p style="white-space: normal;">1、首先在首页找到蓝色图标“信息”。点击进入</p>
    <p style="white-space: normal; text-align: center;"><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b01.png"
            alt="image_$1572487381911031437.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></p>
    <p style="white-space: normal;">2、进入信息页面，查看信息推送列表</p>
    <p style="white-space: normal; text-align: center;"><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b02.png" title="image_$1572492592087088720.png"
            alt="image_$1572492592087088720.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></p>
    <p style="white-space: normal;">3、点击任意一个视频可以查看详情。并且导航到现场。该界面可以和用户提供视频的用户打电话沟通。并且最后对该事故的真实性做一个处理</p>
    <p style="white-space: normal; text-align: center;"><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b03.png" title="image_$1572492673432001018.png"
            alt="image_$1572492673432001018.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></p>
    <p style="white-space: normal;"><br></p>
    <p style="white-space: normal;"><strong>二：</strong><strong>门店上架</strong><br>
    </p>
    <p style="white-space: normal;"><strong>1、先到“门店”里设置基本资料<br></strong></p>
    <p style="white-space: normal; text-align: center;"><strong><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b04.png" title="image_$1572504656607030608.png"
            alt="image_$1572504656607030608.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></strong></p>
    <p style="white-space: normal;"><strong>2、设置门店主图<br></strong>
    </p>
    <p style="white-space: normal;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
    <p style="white-space: normal; text-align: center;"><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b05.png" title="image_$1572504730756080055.png"
            alt="image_$1572504730756080055.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></p>
    <p style="white-space: normal;"><strong>3、设置基本信息</strong>
    </p>
    <p style="white-space: normal; text-align: center;"><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b06.png" title="image_$1572504771913067740.png"
            alt="image_$1572504771913067740.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></p>
    <p style="white-space: normal;"><strong>4、申请服务，服务内容需要等待审批之后才能生效</strong>
    </p>
    <p style="white-space: normal; text-align: center;"><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b07.png" title="image_$1572504844579061947.png"
            alt="image_$1572504844579061947.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></p>
    <p style="white-space: normal;"><strong>5、添加服务分类</strong></p>
    <p style="white-space: normal;"><br></p>
    <p style="white-space: normal; text-align: center;"><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b08.png" title="image_$1572504896917078711.png"
            alt="image_$1572504896917078711.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></p>
    <p style="white-space: normal;"><strong>6、设置返点比例<br></strong>
    </p>
    <p style="white-space: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p style="white-space: normal; text-align: center;"><img
            src="https://obs-4f4a.obs.cn-southwest-2.myhuaweicloud.com/system/img/b09.png" title="image_$1572505041941036276.png"
            alt="image_$1572505041941036276.png" width="200" height="356" border="0" vspace="0"
            style="width: 200px; height: 356px;"></p>
    <p style="white-space: normal;"><strong>7、以上步骤做完之后，请联系与您对接的业务员，审核您的账号信息，审核通过之后即可在前端展示商户。用户即可在您店铺下单。</strong></p>
    <p><br></p></div>
</body>
</html>