<% layout('/layouts/default.html', {title: '管理合作商户', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('管理合作商户')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${appUpMerchants}" action="${ctx}/app/appAllMerchants/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">

				<div class="form-group">
					<label class="control-label">${text('城市')}：</label>
					<div class="control-inline">
						<#form:input path="cityname" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('品牌')}：</label>
					<div class="control-inline">
						<#form:input path="brand" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('地址')}：</label>
					<div class="control-inline">
						<#form:input path="address" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商户名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("商户名称")}', name:'name', index:'a.name', width:200, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a data-title="${text("编辑通过图片上架的4s店表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("地址")}', name:'address', index:'a.address', width:200, align:"left"},
		{header:'${text("品牌")}', name:'brand', index:'a.brand', width:100, align:"center"},
		{header:'${text("地区")}', name:'cityname', index:'a.cityname', width:100, align:"center"},
		{header:'${text("联系方式")}', name:'phone', index:'a.phone', width:120, align:"center"},
		{header:'${text("订单数量")}', name:'indentNumber', index:'a.indentNumber', width:70, align:"center"},
		{header:'${text("预估维修金额")}', name:'money', index:'a.money', width:100, align:"center"},
		{header:'${text("app展示")}', name:'state', index:'a.state', width:100, align:"center",formatter: function(val, obj, row, act){
				var str;
				if(row.state == 1 ){
					str="已展示";
				}else{
					str="未上架";
				}
				return  str
			}},
		{header:'${text("来源")}', name:'type', index:'a.type', width:100, align:"center",formatter: function(val, obj, row, act){
			var str;
					if(row.type == 1 ){
						 str="自上架";
					}else if(row.type == 2 ){
						 str="商户端";
					}
					return  str
			}},
		{header:'${text("入驻时间")}', name:'createTime', index:'a.create_time', width:130, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('app:appUpMerchants:edit')){ %>
				if (row.type == 1){
					actions.push('<a href="${ctx}/app/appUpMerchants/form?id='+row.id+'" class="btnList" title="${text("编辑通过图片上架的4s店表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				}
					actions.push('<a href="${ctx}/app/appIndent/mess?id='+row.id+'&type='+row.type+'" class="btnList" title="${text("查看商户订单")}"><i class="fa icon-menu"></i></a>&nbsp;');

				<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>