<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheji.web.modular.mapper.AppAuctionVipControlMapper">

    <!--  List<User> findByList(List<Integer> list);  -->
    <select id="findVips" resultType="AppAuctionVipControlEntity" parameterType="java.util.List">
        SELECT * FROM app_auction_vip_control
        <where>
            <if test="list != null and list.size() > 0">
                AND user_id in
                <foreach collection="list" item="user_id" open="(" separator="," close=")">
                    #{user_id}
                </foreach>
            </if>
        </where>
    </select>

    <update id="updateStateByUser">
        update app_auction_vip_control
        <set>
            app_auction_vip_control.state = #{state}
        </set>
        where user_id = #{userId}
    </update>

    <select id="selectByUserId" resultType="AppAuctionVipControlEntity" >
        select t1.* from app_auction_vip_control t1
        where t1.user_id = #{userId}
        and t1.state=1
        limit 1
    </select>

</mapper>
