<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章详情</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<input type="hidden" id="content" value="${content}">
</body>

</html>

<script>
  document.body.innerHTML = data[0].content;
  document.body.innerHTML = document.getElementById('content').value();
  <!--var host = 'https://chejiqiche.com/'-->
  <!--$.ajax({-->
    <!--url: host + 'api/v1/wx/notice/list',-->
    <!--contentType: 'application/json',-->
    <!--type: 'POST',-->
    <!--dataType: 'json',-->
    <!--data: {-->
      <!--id: 1-->
    <!--},-->
    <!--success: function (res) {-->
      <!--document.body.innerHTML = res[0].content-->
    <!--}-->
  <!--})-->
</script>