<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>提示信息</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
    }

    .message {
      text-align: center;
      font-size: 18px;
      line-height: 1.5;
    }
  </style>
</head>

<body>
<div class="message">
  左滑或点击下方箭头返回
  <br>
  选择菜单栏"上报事故"开始拍摄视频
</div>
</body>

</html>