<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheji.web.modular.mapper.AppRescueIndentMapper">



<!--    Personal findIndentCount(String userId);-->

<!--    String findImg(String type);-->
    <select id="findImg" resultType="String">
        SELECT url FROM app_rescue_img WHERE type = #{type}

    </select>
</mapper>
