<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheji.web.modular.mapper.AppYearCheckIndentMapper">



<!--    Personal findIndentCount(String userId);-->
    <select id="findIndentCount" resultType="Personal">
    SELECT COUNT(CASE WHEN state = 2 THEN 1 ELSE NULL END)inServiceing FROM app_year_check_indent WHERE user_id = #{userId}

    </select>


<!--    List<Integer> findNoPayIndent(Integer userid);-->
    <select id="findNoPayIndent" resultType="Integer">
         SELECT id FROM app_year_check_indent WHERE user_id = #{userid} AND (pay_state = 0 OR pay_state = 2)
    </select>

<!--    AppYearCheckIndentEntity selectByYearNumber(String orderNumber);-->
    <select id="selectByYearNumber" resultType="AppYearCheckIndentEntity">
        SELECT * FROM app_year_check_indent WHERE year_check_number =  #{orderNumber}
    </select>


</mapper>

